* {
  margin: 0;
  padding: 0;
}


.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  .wrapper {
    display: flex;
    width: 1400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    .slide {
      width: 100vw;
      height: 100vh;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}


.landing-page {
  background-color: gray;
}

.the-beginning {
  background-color: red;
}

.beginning-page {
  background-color: palevioletred;
}

.tennis-page {
  background-color: greenyellow;
}

.the-professional {
  background-color: yellow;
}

.professional-page {
  background-color: blue;
}

.the-philanthropist {
  background-color: brown;
}
.philanthropist-page {
  background-color: salmon;
}
.the-champion {
  background-color: crimson;
}
.champion-page {
  background-color: darkorchid;
}

.the-husband-and-father {
  background-color:coral;
}
.husband-and-father-page {
  background-color:cornflowerblue;
}

.the-legend {
  background-color: forestgreen;
}
.legend-page {
  background-color: goldenrod;
}
