@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Caveat&family=Charm&family=Dancing+Script&family=Great+Vibes&family=Parisienne&display=swap');
// font-family: 'Dancing Script', cursive;
// font-family: 'Parisienne', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Parisienne', cursive;
// font-family: 'Charm', cursive;
// font-family: 'Bodoni Moda', serif;

* {
  margin: 0;
  padding: 0;
}


.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  .wrapper {
    display: flex;
    width: 1400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    .slide {
      width: 100vw;
      height: 100vh;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}


.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.55)),url('https://static01.nyt.com/images/2019/07/13/sports/12wimbledon1-print/merlin_157854486_7a96b904-36fd-4f7e-b6bb-01a1eff1e16f-jumbo.jpg?quality=90&auto=webp');
  background-size: cover;
  background-position: center;
  /*Diagonal transition to next page */
  // background-attachment: fixed;
  display: flex;
  flex-direction: column;
  .title-container {
    width: 100%;
    font-size: 80px;
    font-family: 'Bodoni Moda', serif;
    color: white;
    text-align: center;
  }
  .quote-container {
    width: 100%;
    font-family: 'Bodoni Moda', serif;
    font-size: 32px;
    color: gold;
    text-align: center;
  }
}

.the-beginning {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  .LHS-container {
    font-family: 'Bodoni Moda', serif;
    color: black;
    padding: 5%;
    p:first-of-type {
      font-size: 70px;
    }
    p:last-of-type {
      font-size: 120px;
    }
  }
  .RHS-container {
    flex: 1;
    .Top-RHS-container {
      height: 50%;
      border-bottom: 3px solid black;
    }
    .Bottom-RHS-container {
      height: 50%;
    }
  }
}

.beginning-page {
  background-color: palevioletred;
}

.tennis-page {
  background-color: greenyellow;
}

.the-professional {
  background-color: yellow;
}

.professional-page {
  background-color: blue;
}

.the-philanthropist {
  background-color: brown;
}
.philanthropist-page {
  background-color: salmon;
}
.the-champion {
  background-color: crimson;
}
.champion-page {
  background-color: darkorchid;
}

.the-husband-and-father {
  background-color:coral;
}
.husband-and-father-page {
  background-color:cornflowerblue;
}

.the-legend {
  background-color: forestgreen;
}
.legend-page {
  background-color: goldenrod;
}
